Requirements

- Account Details and password and username change

Completed

- Progress/Dashboard (Google Charts)
- Home Page
- Contact us (Map, Name, email adress an message, adress)
- Navbar
- Login (Dynamic, if logged in dont display)
- Register (Dynamic, if logged in dont display)
- Logout (Dynamic, if not logged in dont display)
